# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env

node_modules/
dist/
.DS_Store
.env
.vscode/

src-tauri/target/
src-tauri/gen/
src-tauri/Cargo.lock

Thumbs.db
*.log
PROGRESS.md

codebase_analysis.md
codebase_improvements.md
Current_PROGRESS.md